.main{

    margin: 100px;
    padding: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    


}
.content{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.p{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:100px;


}
button{

    height: 100px;
    width: 100px;
    margin-left: 50px;
    border-radius: 15px;


    
}
button:hover{
    background-color: gray;
    cursor: pointer;


}




